.detailWrapper {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 80%;
  margin: auto;
  align-self: center;
  border: 1px solid white;
  color: white;
  background-color: black;
}
.detailContainer,
.filmContainer {
  width: 100%;
  flex: 1;
}
.detailInfo {
  display: flex;
  flex-direction: column;
}
