.header {
  flex-direction: row;
  display: flex;
  background-color: black;
  height: 4rem;
  border-bottom: 1px solid white;
  justify-content: space-evenly;
  z-index: 1000;
}
a,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.homepageLink,
.listLink,
.lastVisited,
.searchbar {
  display: flex;
  margin: auto 10px;
  align-items: center;
  justify-content: center;
  color: white;
}
.searchbar {
  border-left: 1px solid white;
  width: 55%;
}
