.liveSearchWrapper {
  display: flex;
  position: relative;
}
input {
  background-color: black;
  font-size: 1.2rem;
  color: white;
  border: none;
  padding-left: 10%;
  width: 100%;
  height: 100%;
}
input:focus {
  outline: none;
}
.resultsContainer {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 100%;
  box-shadow: 0 0 2rem black;
}
.resultItem {
  display: flex;
  align-items: center;
  height: 3rem;
  margin: -2px 0;
  background-color: black;
  color: white !important;
  border: 1px solid white;
  text-decoration: none !important;
}
.itemGender {
  margin: auto 0.5rem auto auto;
}
